<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Save Supplier</title>
</head>

<body>

	<div class="container">
	
		<h3>Supplier Directory</h3>
		<hr>
		
		<p class="h4 mb-4">Save Supplier</p>
	
		<form th:action="@{/suppliers/save}"
			  th:object="${supplier}" method="POST">
		
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />
			
			<input type="text" th:field="*{supplierName}"
					class="form-control mb-4 col-4" placeholder="Supplier Name">

			<input type="text" th:field="*{address1}"
					class="form-control mb-4 col-4" placeholder="Address1">
			
			<input type="text" th:field="*{mobile}"
					class="form-control mb-4 col-4" placeholder="Mobile">
			
			<input type="text" th:field="*{email}"
					class="form-control mb-4 col-4" placeholder="Email">

			<input type="text" th:field="*{city}"
					class="form-control mb-4 col-4" placeholder="City">
			
			<input type="text" th:field="*{state}"
					class="form-control mb-4 col-4" placeholder="State">
			
			<input type="text" th:field="*{zipCode}"
					class="form-control mb-4 col-4" placeholder="Zip code">
					
			<input type="text" th:field="*{country}"
					class="form-control mb-4 col-4" placeholder="Country">
			
			<input type="text" th:field="*{balance}"
					class="form-control mb-4 col-4" placeholder="Balance">
				
			<button type="submit" class="btn btn-info col-2">Save</button>
						
		</form>
	
		<hr>
		<a th:href="@{/suppliers/list}">Back to Suppliers List</a>
		
	</div>
</body>

</html>










