<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		
	</head>
	<body >
           
    	<!-- for the src of iframe ... u must paste the full working URL!! -->
           
       	<div >
	   		<iframe src="http://localhost:8081/ERPmenu/menu"  scrolling="no"  style="height: 100vh" frameborder="0" width="20%" align="left" ></iframe>
		</div>
		<div >
	   		<iframe src="http://localhost:8081/ERPmenu/empty2" name="abc" scrolling="yes"  style="height: 100vh" frameborder="0" height="512" width="79.99999%" align="right" ></iframe>
		</div>
         
	</body>
</html>